worker.yaml
controlplane.yaml
machine_config.yaml
.vscode/
.idea/
.claude/
rolling-reboot.sh
machine-config.yaml
out/
out-patches/
config/
tfplan

*.iso
*.ova

.DS_Store
*.log
crds/
*.backup
*.swp

# Terraform
*.tfplan
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
kubeconfig
talosconfig

# Local env files
.env
.env.local
.env.*.local

# MacOS files
.AppleDouble
.LSOverride

# Thumbnails
._*
.dockerconfigjson

# Secrets - NEVER commit real secrets!
.taskfiles/talos/bootstrap.yaml
.taskfiles/talos/config.yaml
.taskfiles/talos/helpers.yaml
.taskfiles/talos/Taskfile.yaml
.taskfiles/talos/upgrade.yaml
.taskfiles/tools/precommit.yaml

.cache/
.cache_ggshield
client-info.yaml
csi-vsphere.conf
vsan-pvc.yaml
tmp/
bootstrap/talos/my-cluster-exported-template.yaml
!/terraform/terraform.auto.tfvars
/terraform/secrets.yaml
/**/secrets.yaml
/**/kubeconfig
/**/talosconfig
/**/controlplane.yaml
/**/workers.yaml
/**/*.tfvars
terraform/files/install-cilium.yaml
/terraform/tfplan
